@model MusicSchool.Models.Data.User_Course

@{
    ViewData["Title"] = "Участник курса";
}

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр Участника курса
</h3>
<hr />

<div>
    <h4>User_Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseDescr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReview)
        </dd>
    </dl>
</div>
